.wrapper {
  width: 661px;
  height: 763px;
  background-color: #c4c4c4;
  margin: 20vh auto;
  overflow: hidden;
  &__search {
    width: 500px;
    height: 61px;
    margin: 20px 84px 8px;
  }
  &__status {
    margin: 50px 0 0 86px;
    height: 18px;
  }
  &__results {
    margin-bottom: 53px;
  }
  &__repos {
    display: flex;
    flex-direction: column-reverse;
    width: 600px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 316px;
  }
}
.results__txt {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  width: 500px;
  height: 44px;
  margin: 0 84px;
  background-color: #e3e3e3;
}
.rep__items_data {
  width: 500px;
  height: 40px;
}

.result__block {
  position: relative;
  box-sizing: border-box;
  width: 500px;
  height: 101px;
  border: 1px solid black;
  background-color: #e27beb;
  margin: 0 84px;
}
.repos__button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  width: 100px;
  height: 100px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' fill='red' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 94.926 94.926' style='enable-background:new 0 0 94.926 94.926;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M55.931,47.463L94.306,9.09c0.826-0.827,0.826-2.167,0-2.994L88.833,0.62C88.436,0.224,87.896,0,87.335,0 c-0.562,0-1.101,0.224-1.498,0.62L47.463,38.994L9.089,0.62c-0.795-0.795-2.202-0.794-2.995,0L0.622,6.096 c-0.827,0.827-0.827,2.167,0,2.994l38.374,38.373L0.622,85.836c-0.827,0.827-0.827,2.167,0,2.994l5.473,5.476 c0.397,0.396,0.936,0.62,1.498,0.62s1.1-0.224,1.497-0.62l38.374-38.374l38.374,38.374c0.397,0.396,0.937,0.62,1.498,0.62 s1.101-0.224,1.498-0.62l5.473-5.476c0.826-0.827,0.826-2.167,0-2.994L55.931,47.463z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E")
    50% 50%;
  background-repeat: no-repeat;
}
// .repos__button {
//   position: absolute;
//   top: 0;
//   right: 10px;
//   border: none;
//   width: 42px;
//   height: 38.5px;
//   background: transparent;
//   border-left: 4px solid #ff0000;
//   transform: rotate(45deg);
// }
// .repos__button::before {
//   content: "";
//   position: absolute;
//   top: 20px;
//   right: 16px;
//   border: none;
//   width: 42px;
//   height: 38.5px;
//   background: transparent;
//   border-left: 4px solid #ff0000;
//   transform: rotate(90deg);
// }
.test {
  white-space: pre-line;
  padding: 11px 16px;
  font-style: normal;
  font-size: 20px;
  color: #000000;
}
